@page "/movies"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using WMDb.Models

@inject IMoviesData _db

<h3>Filmová databáze</h3>
<br />

@if (movies is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Název</th>
                <th>Režisér</th>
                <th>Délka [min]</th>
                <th>Hodnocení</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Length</td>
                @if (movie.Rating >= 70)
                {
                    <td class="text-danger">@movie.Rating%</td>
                }
                else if (movie.Rating <= 50)
                {
                    <td class="text-info">@movie.Rating%</td>
                }
                else
                {
                    <td>@movie.Rating%</td>
                }
            </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<MovieModel> movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await _db.GetMovies();
    }

}
